.container {

  width: 100%;
  height: 100%;
  overflow: hidden;

}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  border: 2px solid black;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.btnB{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  background: rgba(182, 52, 52, 0.5);
  border: 2px solid red;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.btnA{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  background: rgba(85, 182, 52, 0.5);
  border: 2px solid green;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.block{
  position: absolute;
  background: rgba(0,200,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockTxt{
  font-size: 25px;
}
.moveBtnWrapper{
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  opacity: 0.8;
  z-index: 999;
}

.actionBtnWrapper{
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  opacity: 0.8;
  z-index: 999;

}
.character{
  position: absolute;
  top: 0%;
}


.playButtons{
  font-size: 50px;
  color: white;
}
