.container {

  width: 100%;
  height: 100%;
  overflow: hidden;

}

.block{
  position: absolute;
  background: rgba(50,150,50,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}
.overlay{
  opacity: 0.1;
}

.blockTxt{
  font-size: 40px;
  color: rgba(255,255,255,0.6);
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.6);

}

.character{
  position: absolute;
  top: 0%;
}


.playButtons{
  font-size: 50px;
  color: white;
}
