.block{
    border: 3px solid black;
    border-radius: 5px;
  }

  .blockTxt{
    font-size: 40px;
    color: rgba(255,255,255,0.6);
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.6);

  }
